# Example environment variables for Docker MongoDB (local development only)
# Copy the contents of file to `.env.docker.dev` and adjust values as needed
# These credentials are used ONLY to initialize the MongoDB container

MONGO_INITDB_ROOT_USERNAME="MyMongoDBPassword"
MONGO_INITDB_ROOT_PASSWORD="mySecretPassword"