html {
    overflow-y: scroll;
    scrollbar-width: none;
}
.edit-post-container,
.post-page-body {
    max-width: 800px;
    margin: 100px auto;
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 15px;
    padding: 25px;
    list-style: none;
}

.post-owner a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 600;
}

.post-owner:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment-header,
.comment-header div,
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.owner-picture {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    border-color: #2980b9;
    border-style: solid;
    border-width: 1px;
}

.post-page-text {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
}

.comments-section {
    margin-top: 20px;
}

.post-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-comments > p {
    width: 95%;
    font-size: x-large;
    font-weight: 700;
    color: #2c3e50;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #2980b9;
}

.comment-item {
    width: 500px;
    border-radius: 15px;
    padding: 5px;
    background-color: #f8f9fa;
    list-style-type: none;
    margin: 20px;
    border-color: #dad9d9;
    border-style: solid;
    border-width: 1px;
}

.comment-item img {
    width: 30px;
    height: 30px;
}

.created-on,
.commented-on {
    font-size: smaller;
    font-weight: 500;
    color: #777777;
    text-decoration: none;
}

.post-page-created-on {
    font-size: small;
    font-weight: 500;
    color: #777777;
    text-decoration: none;
}