* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.user-home-page {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 30px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-color: #f0f0f0;
    height: 83.7vh;
    width: 55vh;
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.posts-section {
    background-color: white;
    border-color: #f0f0f0;
    height: 83.7vh;
    width: 40%;
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.friends-section {
    background-color: white;
    border-color: #f0f0f0;
    height: 83.7vh;
    width: 55vh;
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.friends-counter{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.friend-item {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(240, 240, 240);
    height: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #f0f0f0;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    max-width: 268px;
    text-wrap: nowrap;
    overflow: hidden;
    list-style-type: none;
}

.friend-item:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
    transition: ease-in, 0.25s;
}

.friend-item img{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    border-color: #2980b9;
    border-style: solid;
    border-width: 1px;
}

.post-create {
    display: flex;
    justify-content: start;
    background-color: #f8f9fa;
    padding: 10px 15px 25px 15px;
    border-color: #dad9d9;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.post-create form {
    width: 100%;
}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px 10px 0px;
    width: 100%;
}

.post-header div {
    display: flex;
    align-items: center;
}

.created-on {
    font-size: small;
    font-weight: 500;
    color:  #777777;
}

.owner-picture {
    cursor: pointer;
    text-decoration: underline;
}

.post-owner a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 600;
}

.post-owner:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-header input {
    height: 55px;
    width: 80%;
    padding: 12px;
    border-radius: 25px;
    border-style: solid;
    border-color: #e0e0e0;
    margin-left: 3%;
}

.post-header img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    border-color: #2980b9;
    border-style: solid;
    border-width: 1px;
}

.submit-button {
    position: relative;
    top: 0px;
    height: 31px;
    width: 75px;
    border-radius: 25px;
    background-color: #2980b9;
    color: white;
    border-style: none;
    font-size: medium;
    font-weight: 500;
}

.submit-button:hover {
    cursor: pointer;
    top: -2px;
    background-color: #3889be;
    transition: ease-in, 0.25s;
}

.post-buttons-div{
    display: flex;
    justify-content: space-between;
}

.post-buttons{
    position: relative;
    top: 0px;
    height: 31px;
    width: 75px;
    border-radius: 25px;
    background-color: #2980b9;
    color: white;
    border-style: none;
    font-size: medium;
    font-weight: 500;
    margin: 10px;
}

.post-item {
    border-radius: 15px;
    padding: 5px;
    background-color: #f8f9fa;
    margin: 10px 5px 20px 5px;
    list-style-type: none;
    border-color: #dad9d9;
    border-style: solid;
    border-width: 1px;
}

.post-item img{
    width: 30px;
    height: 30px;
}

.post-buttons:hover {
    cursor: pointer;
    top: -2px;
    transition: ease-in, 0.25s;
    background-color: #3889be;
}

.delete-btn {
    background-color: #dd3240;
}

.delete-btn:hover {
    background-color: #e93947;
}

.post-text {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.profile-user-avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-color: #2980b9;
    border-style: solid;
    border-width: 3px;
}

.profile-info h2 {
    font-weight: 700;
    margin: 8px 0px 8px 0px;
}

.profile-info p {
    color: #666;
    margin-bottom: 10px;
    font-size: 0.95em;
}

.info-label {
    color: #2980b9;
    font-weight: 500;
}