# Example environment variables for the backend server (local development)
# Copy the contents of this file to `.env.development`

# Format:
# mongodb://<username>:<password>@<host>:<port>/<database>

DATABASE_URI=mongodb://MyMongoDBPassword:mySecretPassword@mongo:27017/Chime