name: Client CI

on:
    push:
        branches:
            - main
            - ci/**
    pull_request:
        branches:
            - main
            - ci/**
          
    workflow_dispatch:

jobs:
  client_test:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./client

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20.x

    - name: Install dependencies
      run: npm ci

    - name: Audit dependencies
      run: npm audit --audit-level=high

    - name: Run tests
      run: npm test
